<!-- app/views/ideas/_form.html.erb -->
<%= form_with model: Idea.new, class: "mx-auto mt-16 max-w-xl sm:mt-20", id: "idea-form" do |form| %>
  <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">

    <!-- Industry selection -->
    <div class="sm:col-span-2">
      <%= form.label :industry, class: "block text-sm font-semibold leading-6 text-gray-900" %>
      <div class="mt-2.5">
        <%= form.collection_select :industry, Startup.pluck(:industry).flatten.uniq.sort, :to_s, :to_s,
            { include_blank: 'Please select', selected: params[:industry] },
            { multiple: true, size: 3, required: true, class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
      </div>
    </div>

    <!-- Location selection -->
    <div class="sm:col-span-2">
      <%= form.label :location, class: "block text-sm font-semibold leading-6 text-gray-900" %>
      <div class="mt-2.5">
        <%= form.collection_select :location, Startup.pluck(:location).uniq.sort, :to_s, :to_s,
            { include_blank: 'Optional' },
            { class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
      </div>
    </div>

    <!-- Submit button -->
    <div class="sm:col-span-2">
      <%= form.submit "Generate Idea", class: "block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600" %>
    </div>
  </div>
<% end %>
